.Signup{
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

.input__container{
    margin-top: 12px;
    background: linear-gradient(180deg, #000356 5.84%, #9224D4 82.84%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 60px;
    border-radius: 34px;
}

.input{
    padding: 8px 12px;
    width: 70%;
    height: 28px;
    border: none;
    border-radius: 24px;
    outline: none;
    transition: 0.3s;
}

.input:focus{
    box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.7);
}

.error{
    color: red;
    font-family: 'Ropa sans', sans-serif;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.icon__container{
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    height: 26px;
}

.btn__signup{
    margin: 12px 0px;
    background: linear-gradient(180deg, #000356 5.84%, #9224D4 82.84%);
    color: #fff;
    height: 60px;
    width: 140px;
    font-size: 34px;
    font-family: 'Ropa sans', sans-serif;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.btn__signup:hover{
    background: linear-gradient(180deg, #9224D4 5.84%, #000356 82.84%);
}