.chat__box{
    background-color: #e0dfdf;
    width: 90%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}

.message__box{
    background-color: #e0dfdf;
    height: 80%;
    width: 90%;
    border-radius: 12px 12px 0px 0px;
    margin-bottom: 6px;
    overflow: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
}

.info__container{
    background-color: #fff;
    height: 30px;
    padding: 12px 12px;
    display: flex;
    align-items: center;
}

.name{
    margin-left: 12px;
    font-weight: bolder;
    font-size: 24px;
}

.input__message{
    background-color: #e0dfdf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 60px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 0px 0px 12px 12px; 
}

.message{
    border-radius: 12px;
    padding:  6px 12px;
    height: 30px;
    width: 75%;
    border: none;
    outline: none;
}

.sendMessage{
    border: none;
    background-color: #fff;
    padding: 6px;
    border-radius: 12px;
}

.send__icon{
    height: 25px;
}