.section{
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 64px;
    border-radius: 14px;
    font-family: 'Ropa sans', sans-serif;
}

.chats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 450px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 450px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.title__dashboard{
    font-size: 34px;
    font-weight: bolder;
}
