.section{
    background-color: #fff;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    padding: 64px;
    border-radius: 14px;
    font-family: 'Ropa sans', sans-serif;
}

.chats{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 450px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}


.chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 450px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.title__dashboard{
    font-size: 34px;
    font-weight: bolder;
}

.search__container{
    height: 70px;
    margin: 22px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    background-color: #e0dfdf;
    border-radius: 12px;
}

.input__search{
    width: 80%;
    height: 40px;
    border-radius: 12px;
    border: none;
    padding: 0px 12px;
    outline: none;
    background-color: #fff;
}

.search{
    height: 30px;
    cursor: pointer;
}

.conversation__container{
    background-color: #e0dfdf;
    border-radius: 12px;
    height: 90%;
    width: 90%;
    padding: 12px;
    overflow: auto;
}

.chat__container{
    background-color: #ffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0px 12px;
    margin-bottom: 6px;
    width: 90%;
}

.chat__info{
    margin-left: 18px;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat__name{
    font-size: 18px;
    font-weight: bold;
}

.last__message{
    font-size: 14px;
    color: #505050;
}

.user__image{
    height: 40px;
}